<h2>Create post</h2>
<hr />
<form class="form">
    <input type="text" class="form-control" placeholder="Title" ng-model="model.Title" /><br />
    <input type="text" class="form-control" placeholder="Author" ng-model="model.Author" /><br />
    <textarea rows="5" class="form-control" placeholder="Content" ng-model="model.Content"></textarea><br />
    <button type="button" ng-click="create()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Create</button>
    <button type="reset" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Reset</button>
</form>